/* TODO Add site wide styles */

html {
	max-height: 100vh;
	max-width: 100vw;
}

body {
	margin: 0;
	max-height: 100vh;
	max-width: 100vw;
}

.header {
	background-color: #dee2e6 !important;
	width: 100%;
	margin: 0;
}
