.content-wrapper {
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #dee2e6;
	padding-bottom: 50px;
}

.create-story-div {
	margin-right: 15%;
	margin-left: 15%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 100px 40px;
	border-radius: 5px;
	background-color: white;
	height: auto;
}

.story-title {
	font-family: "Open Sans", sans-serif;
	font-size: 75px;
	margin: 0;
}

.input-div {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	width: 100%;
}

.title-input {
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 25px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 15px;
}

::placeholder {
	color: lightgray;
}

.title-input:focus {
	outline: none;
	border-bottom: 2px solid black;
}

.story-title-label {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 25px;
	margin-bottom: 10px;
}

.story-submit {
	color: white;
	background-color: #dee2e6;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	width: 100%;
	border: none;
	margin-top: 20px;
	font-weight: 800;
	font-size: 15px;
}

.story-submit:hover {
	background-color: black;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
	color: white;
}
